body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('pool.gif');
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #a0dbd8;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.admin-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(141, 157, 211);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.login2-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(204, 153, 210);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
