.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.gopay {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20pt;
}

.gopay button {
    margin-top: 10pt;
}

.gopay2 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20pt;
}

.gopay2 button {
    margin-top: 10pt;
}

.sukses {
    color: blue;
    font-size: 50pt;
    text-align: center;
    margin: 10pt;
}

.ovo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20pt;
}

.ovo2 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20pt;
}

.ovo2 button {
    margin-top: 10pt;
}

.bca {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20pt;
}

.bca button {
    margin-top: 10pt;
}